
.nav{
   margin:0px;
   padding:0px;
   list-style:none;
}
.nav{
	float:left;
	width: 200px;
	height:40px;
	background-color: :black;
}
.image{
	background-image: url('set.jpg');
	background-size: cover ;
	height: 100vh ;
	width: 100% ;
}